Bonus (Optional)

As you examine the data, you are overcome with a creeping suspicion that the dataset is fake. You surmise that your boss handed you spurious data in order to test the data engineering skills of a new employee. To confirm your hunch, you decide to take the following steps to generate a visualization of the data, with which you will confront your boss:


Import the SQL database into Pandas. (Yes, you could read the CSVs directly in Pandas, but you are, after all, trying to prove your technical mettle.) This step may require some research. Feel free to use the code below to get started. Be sure to make any necessary modifications for your username, password, host, port, and database name:
from sqlalchemy import create_engine
engine = create_engine('postgresql://localhost:5432/<your_db_name>')
connection = engine.connect()

Create a histogram to visualize the most common salary ranges for employees.

Create a bar chart of average salary by title.

In [5]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.8.6.tar.gz (383 kB)
     |████████████████████████████████| 383 kB 5.3 MB/s
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.8.6-cp36-cp36m-macosx_10_9_x86_64.whl size=135469 sha256=a5516a2ce37892757b7b11d5185aebb25e39f2a28409a6f665d53000734cf6c0
  Stored in directory: /Users/annabelcheong/Library/Caches/pip/wheels/cb/74/1b/4b65077db4eb0d85763050e60c5921398d2858945558352dd8
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.8.6

In [33]:
#Dependenies
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
import matplotlib.pyplot as plt

In [28]:
#Create engine and connection
engine = create_engine('postgresql://localhost:5432/workplace_db')
connection = engine.connect()
engine

Engine(postgresql://localhost:5432/workplace_db)

In [38]:
# Check database is being read
# Query All Records in the the Database
emp_df = engine.execute("SELECT * FROM salaries")

for record in data:
    print(record)

emp_no
salary

Most Common Salary Ranges

-Create a histogram to represent most common salary ranges

In [37]:
# Query All Records in the the Database

# Query All Records in the the Database
salaries_df = pd.read_sql("SELECT * FROM salaries", connection)
salaries_df.head()
salaries_df.describe()

              emp_no         salary
count  300024.000000  300024.000000
mean   253321.763392   52970.732451
std    161828.235540   14301.478491
min     10001.000000   40000.000000
25%     85006.750000   40000.000000
50%    249987.500000   48681.000000
75%    424993.250000   61758.000000
max    499999.000000  129492.000000